@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap");
.contact-frame {
  width: 100%;
  height: 100%;
}
.contact-avatar-frame {
  width: 20%;
}
.contact-avatar-picture {
  width: 100%;
}
.contact-text-message {
  width: 90%;
  margin-top: 5%;
  height: auto;
  background-color: #eeeeee;
  border-radius: 0.7rem;
}
.contact-text-message-phara {
  font-size: 1.4vw;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  text-emphasis: none;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
  .contact-text-message-phara {
    font-size: 1.2rem;
  }
}
