.quote-text {
  color: white;
  font-size: 25px;
  padding-left: 8px;
}

.skill-round-cloud {
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
}

@media only screen and (max-width: 600px) {
  #quote-title {
    font-size: 50px;
    padding-left: 8px;
  }
  .quote-text {
    color: white;
    padding-left: 8px;
    font-size: 20px;
  }
  .skill-quote-link {
    font-size: 18px;
    padding-left: 8px;
  }
}
