.skill-progress,
.skill-experience {
  width: 100%;
  height: auto;
  min-height: 15rem;
}
.skill-experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.progress-group {
  width: 100%;
  height: 4rem;
}

.progress-group-text {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.progress-group-bar {
  width: 100%;
  padding: 0px;
  background-color: #2a2a2a;
}

.progress-bar-inner {
  height: 0.25rem;
}

/*Exp*/
.exp-job {
  width: 47%;
  background-color: #2a2a2a;
  padding: 0.5rem;
  color: #fff;
  /* height: fit-content; */
  min-height:420px;
}
.exp-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.exp-company {
  font-size: 16px;
  margin-bottom: 0.3rem;
  font-weight: bold;
}
.exp-time {
  font-size: 12px;
}

.exp-description {
  font-size: 14px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
  .skill-experience {
    flex-direction: column !important;
  }
  .exp-job {
    width: 96%;
    margin-bottom: 2%;
  }
}
