.cv-home {
  width: 100%;
  height: 100%;
  position: relative;
  /* padding-top: 5vh;
  min-height: 95vh; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--black);
}

.home-quote {
  width: 50%;
  height: 100%;
  position: relative;
  display: inline-block;
  min-height: 600px;
  z-index: 1;
  padding-left: 2rem;
}

.home-canvas {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.chart-canvas {
  width: 100%;
  height: 100%;
  min-height: 90vh;

}

.home-quote-link {
  font-size: 18px;
  width: 25%;
  height: 50px;
  text-align: left;
  cursor: pointer;
  z-index: 100000 !important;
  background-image: linear-gradient(
    to right,
    var(--lightBlue) 0%,
    #e22a6c 51%,
    var(--lightYellow) 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px var(--black);
  border-radius: 10px;
  display: block;
}

.home-quote-link:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .cv-home {
    direction: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .home-quote {
    width: 100%;
    height: fit-content !important;
  }

  .home-canvas {
    width: 100%;
    height: 500px;
  }

  .quote-text {
    color: white;
    padding-left: 5px;
    font-size: 15px;
  }
  .home-quote-link {
    font-size: 14px;
    padding-left: 8px;
  }
}
