.cv-projects {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}

.project-type-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 40%;
  margin-left: 30%;
  color: black;
  font-size: 7vw;
  top: 10%;
  font-weight: bold;
  text-align: center;
}
.project-sticky {
  width: 100%;
  height: 10%;
  padding: 0.5rem;
  top: 7%;
  position: fixed;
  z-index: 10000;
}
.project-sticky-frame {
  width: 20%;
  height: 3rem;
  max-width: 10rem;
  background-color: #eeeeee;
  border-radius: 0.3rem;
}
.project-sticky-btn {
  width: 40px;
}
.project-sticky-icon {
  font-size: 2rem;
  color: #006e7f;
  cursor: pointer;
}
.project-sticky-icon:hover {
  font-size: 2.5rem;
  color: #efaa2a;
}

/* Detail group */
.pro-details {
  display: block;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin-bottom: 0;
}

.pro-details-left {
  width: 70%;
  height: 100%;
}
.pro-details-right {
  width: 30%;
  height: 100%;
}

.pro-app-name {
  font-size: 1.1rem;
  margin-bottom: 0;
}
.pro-artical {
  width: 100%;
  margin-bottom: 0;
}
.pro-artical-title {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.pro-artical-phara {
  font-size: 0.8rem;
  margin-bottom: 0;
  padding: 0;
}
.pro-details-right-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .project-type-title {
    width: 100%;
    margin-left: 0;
    margin-top: 20% !important;
  }
  .pro-img-smartphone {
    width: 55% !important;
    margin-left: 25% !important;
  }
  .pro-img-prodevelopment {
    width: 20% !important;
    margin-top: 30% !important;
  }
  /* .pro-main-img {
    width: 45% !important;
    margin-left: 2% !important;
  } */
  .pro-artical-title {
    font-size: 1rem !important;
  }
  .pro-artical-phara {
    font-size: 0.7rem !important;
  }
}
