.cv-nav-left {
  width: 20%;
  height: 100%;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cv-nav-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cv-nav-left-menu {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cv-nav-left-menu-icon {
  font-size: 6vw;
  display: none;
  padding-left: 1rem;
  cursor: pointer;
}
.cv-nav-left-menu-icon:hover {
  color: #b4ff9f;
}

.cv-nav-left-logo {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-nav-left-logo-picture {
  width: 1rem;
  min-width: 50px;
  cursor: pointer;
}

#container #leftk {
  animation: animationMain 5s ease-in-out infinite alternate-reverse;
  animation-delay: 0.1s;
}
/* .cv-nav-left-logo-picture path:nth-child(1) {
  animation: animationMain 2s ease-in-out infinite;
} */

@keyframes animationMain {
  0%,
  100% {
    transform: translateX(-100px);
    filter: blur(30px);
  }
  25%,
  50%,
  75% {
    transform: translateX(0px);
    filter: blur(0px);
  }
}

#container #rightk {
  animation: animationSub 5s ease-in-out infinite alternate-reverse;
  animation-delay: 0.4s;
}

@keyframes animationSub {
  0%,
  100% {
    transform: translateX(200px);
    filter: blur(30px);
  }
  25%,
  50%,
  75% {
    transform: translateX(0px);
    filter: blur(0px);
  }
}

.navbar-link {
  width: 100px;
  color: #fff;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-active-link {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  background-color: var(--lightGrey);
}

.nav-child-middle {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}
.nav-child-middle:hover {
  background-color: #6b6b6b;
}

.navbar-link-text {
  color: #fff;
  font-size: 16px !important;
  font-weight: bold;
}

.navbar-active-link-text {
  color: var(--lightBlue);
  font-size: 16px !important;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .cv-nav-container {
    display: flex;
    flex-direction: column !important;
    height: auto !important;
  }
  .nav-menu-bars {
    width: 100%;
  }
  .nav-child-middle {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
  }
  .cv-nav-left-menu-icon {
    display: block;
    color: var(--lightBlue);
  }
  .cv-nav-left,
  .cv-nav-right {
    width: 100%;
  }
  .cv-nav-left {
    height: 4rem;
  }
  .cv-nav-left-logo {
    width: 1.5rem;
  }
  .cv-nav-right {
    flex-direction: column !important;
  }
  .navbar-active-link,
  .navbar-link {
    justify-content: flex-start;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
  }
}
