
:root {
  --black: #1a1a1a;
  --lightBlue: #03f3cf;
  --organ: #f09819;
  --grey: #112b3c;
  --lightYellow: #ffef82;
  --purple: #764af1;
  --darkBlue: #112b3c;
  --lightGrey:#2A2A2A;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--lightBlue);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--organ);
}
